
<h2 class="title"> create Unit  </h2>

<div class="form-container">
  <form [formGroup]="unitForm" (ngSubmit)="onSubmit()" class="product-supplier-form">

    
    <mat-form-field>
      <mat-label>unit Name</mat-label>
      <mat-select formControlName="name">
        <mat-option *ngFor="let unitName of unitNames"
        [value]="unitName">    {{ unitName }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
        <mat-label>Symbol</mat-label>
        <input matInput type="text" formControlName="symbol" placeholder="symbol">
      </mat-form-field>

    <mat-form-field>
        <mat-label>sizeType</mat-label>
        <mat-select formControlName="sizeType">
          <mat-option *ngFor="let sizeType of sizeTypes"
          [value]="sizeType">    {{ sizeType }}</mat-option>
        </mat-select>
      </mat-form-field>

    <div class="button-group">
      <button mat-raised-button class="Create-button" color="primary" type="submit">
        Crate
      </button>

      <button type="button"
              class="back-button"
              mat-raised-button
              color="primary"
              (click)="goBack()">
        Back
      </button>
    </div>

  </form>
</div>

