<h2 class="title">Create shelf</h2>

<div class="form-container">
  <form [formGroup]="shelfForm" (ngSubmit)="onSubmit()" class="product-supplier-form">

 

    <!-- ShelfNameByAisle -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Shelf Name By Aisle</mat-label>
      <input matInput type="text" formControlName="shelfNameByAisle" placeholder="shelfNameByAisle">
    </mat-form-field>

    
    <!-- Aisle  -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Aisle</mat-label>
      <mat-select formControlName="aisleId">
        <mat-option *ngFor="let aisle of aisles | async"
                    [value]="aisle.aisleId" >
          {{ aisle.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="button-group">
      <button mat-raised-button class="Create-button" color="primary" type="submit">
        Create
      </button>

      <button type="button"
              class="back-button"
              mat-raised-button
              color="primary"
              (click)="goBack()">
        Back
      </button>
    </div>

  </form>
</div>

