
<mat-card class="product-card">

    <mat-card-title>Product Variant List</mat-card-title>
  
   
    <div class="Add-button">
      
      <button mat-raised-button color="primary" (click)="addProductVariant()">
        Add
      </button>
      <button mat-raised-button color="primary" (click)="goBack()">
        Back
      </button>
    </div>
    <table mat-table [dataSource]="(productVariants$ | async) || []" class="mat-elevation-z8">
  
      <!-- ID -->
    <ng-container matColumnDef="productVariantId">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let productVariant"> {{productVariant.productVariantId}} </td>
    </ng-container>
  
    <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef> code </th>
        <td mat-cell *matCellDef="let productVariant"> {{productVariant.code}} </td>
    </ng-container>
  

    <ng-container matColumnDef="specificPrice">
        <th mat-header-cell *matHeaderCellDef> specificPrice </th>
        <td mat-cell *matCellDef="let productVariant"> {{productVariant.specificPrice}} </td>
    </ng-container>
  
    <ng-container matColumnDef="quantityInStock">
        <th mat-header-cell *matHeaderCellDef> quantityInStock </th>
        <td mat-cell *matCellDef="let productVariant"> {{productVariant.quantityInStock}} </td>
    </ng-container>

    <ng-container matColumnDef="productId">
        <th mat-header-cell *matHeaderCellDef> Product  </th>
        <td mat-cell *matCellDef="let productVariant"> {{productVariant.product.reference}} </td>
    </ng-container>

    <!-- Actions -->
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let productVariant">
         
          <!-- Edit -->
    <button mat-icon-button matTooltip="Edit" class="btn-edit" (click)="editProductVariant(productVariant.productVariantId)">
        <img src="https://cdn-icons-png.flaticon.com/512/764/764599.png" alt="edit" width="20" height="20">
    </button>
      
    <!-- Delete -->
    <button mat-icon-button matTooltip="Delete" class="btn-delete" (click)="deleteProductVariant(productVariant.productVariantId)">
       <img src="https://cdn-icons-png.flaticon.com/512/3096/3096673.png" alt="delete" width="20" height="20">
    </button>
      
    </td>
    </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
    </table>
  
  </mat-card>