

<mat-drawer-container class="container">

  <mat-drawer #drawer mode="side" opened class="sidenav">

    <h3 class="menu-title">Menu</h3>

    <!-- STOCK MANAGEMENT -->
    <button mat-raised-button color="primary"
            (click)="showStockManagment = !showStockManagment">
      Stock Management
    </button>

    <div *ngIf="showStockManagment" class="submenu">

      <button mat-button (click)="getProducts()">
         Products List
      </button>

      <button mat-button (click)="addProduct()">
        Add Product
      </button>

      

      <button mat-button (click)="addCategory()">
        Add Category
      </button>


      <button mat-button (click)="addStock()">
        Add Stock
      </button>
      <!-- Add Product supplier  -->

        <button mat-button (click)="addProductSupplier()">
          Add Product Supplier
        </button>
    </div>


    <!-- USER MANAGEMENT -->
    <button mat-raised-button color="primary"
            (click)="showUserManagment = !showUserManagment">
      User Management
    </button>

    <div *ngIf="showUserManagment" class="submenu">

      <button mat-button (click)="signUp()">
        Add User
      </button>

    </div>

      <!-- Aisle MANAGEMENT -->
      <button mat-raised-button color="primary"
       (click)="showAisleManagment = !showAisleManagment">
             Aisle Managment
        </button>

        <div *ngIf="showAisleManagment" class="submenu">

        <button mat-button (click)="addAisle()">
          Add Aisle
        </button>
        <button mat-button (click)="allAisle()">
           Aisle List
        </button>

        </div>
       <!-- Shelf MANAGEMENT -->
       <button mat-raised-button color="primary"
       (click)="showShelfManagment = !showShelfManagment">
           Shelf  Managment
        </button>

        <div *ngIf="showShelfManagment" class="submenu">

            <button mat-button (click)="addShelf()">
              Add Shelf
            </button>
            <button mat-button (click)="allShelf()">
              Shelf List
            </button>

        </div>

        <!-- Characteristic MANAGEMENT -->
      <button mat-raised-button color="primary"
      (click)="showcharacteristicManagment = !showcharacteristicManagment">
      Characteristic  Managment
        </button>

        <div *ngIf="showcharacteristicManagment" class="submenu">

            <button mat-button (click)="addCharacteristic()">
              Add Characteristic
            </button>
            <button mat-button (click)="allCharacteristic()" >
              Characteristic List
            </button>

        </div>


    <!-- SUPPLIER MANAGEMENT -->
    <button mat-raised-button color="primary"
            (click)="showSupplierManagment = !showSupplierManagment">
      Supplier Management
    </button>

    <div *ngIf="showSupplierManagment" class="submenu">

      <button mat-button (click)="addSupplier()">
        Add Supplier
      </button>

      <button mat-button (click)="allSuppliers()">
        All Suppliers
      </button>
    </div>
      <!-- Unit MANAGEMENT -->
    <button mat-raised-button color="primary"
    (click)="showUnitManagment = !showUnitManagment">
        Unit Management
        </button>

        <div *ngIf="showUnitManagment" class="submenu">

        <button mat-button (click)="addUnit()">
        Add Unit
        </button>

        <button mat-button (click)="allUnits()">
        All Units
        </button>

    </div>
     <!-- ProductUnitsale MANAGEMENT -->
     <button mat-raised-button color="primary"
     (click)="showProductUnitsaleManagment = !showProductUnitsaleManagment">
     Product Unit sale Management
         </button>
 
         <div *ngIf="showProductUnitsaleManagment" class="submenu">
 
         <button mat-button (click)="addProductUnitsale()">
         Add Product Unit sale
         </button>
 
         <button mat-button (click)="allProductUnitsale()">
         All Product Unit sale
         </button>
 
     </div>

     <!--   ProductCharacteristic Managment   -->
     <button mat-raised-button color="primary"
     (click)="showProductCharacteristicManagment = !showProductCharacteristicManagment">
     Product Characteristic Management
         </button>
 
         <div *ngIf="showProductCharacteristicManagment" class="submenu">
 
         <button mat-button (click)="addProductCharacteristic()">
         Add Product Characteristic
         </button>
 
         <button mat-button (click)="allProductCharacteristic()">
         All Product Characteristic
         </button>
 
     </div>
       <!--   ProductVariant Managment   -->
       <button mat-raised-button color="primary"
       (click)="showProductVariantManagment = !showProductVariantManagment">
       Product Variant Management
           </button>
   
           <div *ngIf="showProductVariantManagment" class="submenu">
   
           <button mat-button (click)="addProductVariant()">
           Add Product Variant
           </button>
   
           <button mat-button (click)="allProductVariant()">
           All Product Variant
           </button>
   
       </div>

       <!--CharacteristicValue -->
       <button mat-raised-button color="primary"
       (click)="showCharacteristicValueManagment = !showCharacteristicValueManagment">
       Characteristic Value Management
           </button>
   
           <div *ngIf="showCharacteristicValueManagment" class="submenu">
   
           <button mat-button (click)="addCharacteristicValue()">
           Add CharacteristicValue
           </button>
   
           <button mat-button (click)="allCharacteristicValue()">
           All Characteristic Value
           </button>
   
       </div>

             <!--MovmentInStock -->
             <button mat-raised-button color="primary"
             (click)="showMovmentInStockManagment = !showMovmentInStockManagment">
             Movment In Stock Management
                 </button>
         
                 <div *ngIf="showMovmentInStockManagment" class="submenu">
         
                 <button mat-button (click)="addMovmentInStock()">
                 Add Movment In Stock
                 </button>
         
                 <button mat-button (click)="allMovmentInStock()">
                 All Movment In Stock
                 </button>
         
             </div>
  </mat-drawer>


  <!-- CONTENT -->
  <div class="content">

    <button mat-raised-button color="primary"
            (click)="drawer.toggle()">
       Menu
    </button>

    <h1>Hi Admin 👋</h1>

  </div>

</mat-drawer-container>