<mat-card class="product-card">

    <mat-card-title>shelf List</mat-card-title>
  
    <div class="Add-button">
      <button mat-raised-button color="primary" (click)="addShelf()">
        Add Shelf
      </button>
      <button mat-raised-button color="primary" (click)="goBack()">
        Back
      </button>
    </div>
    <table mat-table [dataSource]="(shelfs$ | async) || []" class="mat-elevation-z8">
  
      <!-- ID -->
      <ng-container matColumnDef="shelfId">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let shelf"> {{shelf.shelfId}} </td>
      </ng-container>
  
    <!-- name -->
    <ng-container matColumnDef="shelfNameByAisle">
        <th mat-header-cell *matHeaderCellDef> Shelf Name By Aisle </th>
        <td mat-cell *matCellDef="let shelf"> {{shelf.shelfNameByAisle}} </td>
      </ng-container>

    <!-- aisle -->
    <ng-container matColumnDef="aisleId">
      <th mat-header-cell *matHeaderCellDef>  Aisle </th>
      <td mat-cell *matCellDef="let shelf"> {{shelf.aisle.name}} </td>
    </ng-container>

  
      <!-- Actions -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let shelf">
          
          <!-- Edit -->
          <button mat-icon-button matTooltip="Edit" class="btn-edit" (click)="editSehlf(shelf.shelfId)">
            <img src="https://cdn-icons-png.flaticon.com/512/764/764599.png" alt="edit" width="20" height="20">
          </button>
      
          <!-- Delete -->
          <button mat-icon-button matTooltip="Delete" class="btn-delete" (click)="deleteShelf(shelf.shelfId)">
            <img src="https://cdn-icons-png.flaticon.com/512/3096/3096673.png" alt="delete" width="20" height="20">
          </button>
      
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
    </table>
  
  </mat-card>